:root {
  --text-color: #011549;
  --purple: #8d34ff;
  --blue: #86e2ff;
  --green: #a2f4d7;
  --red: #ff9586;
  --bg: #ffffff;
  --dashboard-bg: #f5f5f5;
  --dashboard-secondary: #e6e6e6;
  --box-shadow: 10px 10px 30px #d9d9d9, -10px -10px 30px #ffffff;
}

* {
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home {
  margin-top: 2em;
  padding-bottom: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
}
p,
ul,
li,
a,
label,
button,
div {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
label,
i,
button {
  color: var(--text-color);
}

.invisibleLink {
  text-decoration: none;
}
.btn {
  border-radius: 100px;
  font-size: 1rem;
  padding: 0.75em 2.5em;
  text-align: center;
  font-weight: 700;
  transition-duration: 0.5s;
  outline: none;
  text-decoration: none;
  margin: 0.25em 0;
  cursor: pointer;
}
.btn.disabled {
  pointer-events: none;
  cursor: not-allowed;
}
p .btn {
  margin: 0.5em 1em;
}

.btn-primary {
  background: linear-gradient(115.8deg, #6e30f2 0%, #86e2ff 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  color: white;
  border: none;
}
.btn-primary:hover {
  opacity: 0.7;
}
.btn-primary.disabled {
  opacity: 0.5;
}

.btn-secondary {
  background: transparent;
  border-color: var(--text-color);
  color: var(--text-color);
}
.btn-secondary:hover {
  background: linear-gradient(115.8deg, #6e30f2 0%, #86e2ff 100%);
  border-color: var(--blue);
  color: white;
}
.btn-secondary.disabled {
  border-color: #919191;
  color: #919191;
  background: transparent;
}

.btn-tertiary {
  border-color: transparent;
  color: var(--text-color);
  background: transparent;
}
.btn-tertiary:hover {
  color: var(--purple);
}
.btn-tertiary.disabled {
  color: #919191;
}

.btn-danger {
  background-color: var(--danger);
}
.btn-danger:hover {
  background-color: #fa9596;
}

h1 {
  font-size: 3.375rem;
  line-height: 4rem;
  font-weight: 700;
  letter-spacing: 0;
}
h2 {
  font-size: 2.625rem;
  line-height: 3.125rem;
  font-weight: 600;
  letter-spacing: 0;
}
h3 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 500;
  letter-spacing: 0;
}
h4 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 400;
  letter-spacing: 0;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.625rem;
  font-weight: 600;
  letter-spacing: 0;
}
h6 {
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 700;
  letter-spacing: 0;
}

.row:first-child {
  height: 100%;
}
.parent .row {
  align-items: center;
}

.body-short-1,
.body-long-1 {
  font-size: 0.875rem;
  letter-spacing: 0.16px;
}
.body-short-2,
.body-long-2 {
  font-size: 1rem;
  letter-spacing: 0.16px;
}
.body-short-1 {
  line-height: 1.125rem;
}
.body-short-2 {
  line-height: 1.375rem;
}
.body-long-1 {
  line-height: 1.25rem;
}
.body-long-2 {
  line-height: 1.5rem;
}
.helper {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  letter-spacing: 0.32px;
}

.mobile-logo {
  display: none;
}

.nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
}
.nav i {
  display: none;
}

.nav .btn-group {
  justify-content: flex-end;
  display: flex;
  width: 100%;
  align-items: center;
  margin-right: 2em;
}
.nav .btn-group .dropdown i:first-of-type {
  margin-left: 0;
}
.nav img {
  width: 10em;
  margin: 1em 4.5rem;
}
#menu-popout {
  display: none;
}

.form-control {
  border: 1px solid var(--text-color);
  padding: 1em;
  border-radius: 10px;
}

/**** end ui kit ****/
.search__container {
  height: 100%;
  display: flex;
  background: linear-gradient(
    137.11deg,
    #fdfdfd 20%,
    #f4d5ff,
    #fdfdfd,
    #acfeba,
    #fdfdfd,
    #dabcff,
    #fdfdfd,
    #bcffc7
  );
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
}

/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

#root .css-1pahdxg-control,
#root .css-yk16xz-control {
  background: white !important;
  border-radius: 10px !important;
  border-color: transparent !important;
  padding: 0.5em;
}

.search_screen {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  margin: 0 auto;
}
#search__button {
  margin: 2em auto;
  display: flex;
}

.searchToggle__controller {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
  width: 50%;
  margin: 1em auto;
  padding-left: 0;
}
.searchToggle__controller li {
  display: inline;
  list-style-type: none;
  text-align: center;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  padding: 1em;
  font-weight: 700;
  transition-duration: 0.3s;
}

.searchToggle__controller li:hover {
  border-color: var(--text-color);
}

.searchToggle__controller li.active__search {
  border-color: var(--text-color);
}

.available__sources {
  width: 100%;
  padding-left: 0;
}
.availableSources__list {
  display: flex;
  columns: 1;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-left: 0;
}

.listing.active,
.listing:hover {
  background: linear-gradient(115.8deg, #6e30f2 0%, #86e2ff 100%);
}
.listing.active p,
.listing.active a,
.listing:hover p,
.listing:hover a {
  color: white;
}

.availableSources__list div[class^="col"] {
  padding: 0.5em;
}

div[class^="col"].parent {
  margin-top: 1em !important;
}

.card.justify {
  justify-content: center;
}
.card {
  background: #fff;
  box-shadow: var(--box-shadow);
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 2rem 0;
  margin-top: 2em;
  align-items: stretch;
  height: 100%;
  text-overflow: ellipsis;
  flex-wrap: wrap;
}
.card h5:first-of-type {
  margin-bottom: 1em;
  margin-top: 0;
}
.card p:last-child,
.card a:last-child {
  margin: 0;
}

.red {
  color: var(--red);
}

/* dashboard stuff */

#toggleEditMode {
  position: fixed;
  bottom: 5%;
  right: 2%;
  height: 75px;
  width: 75px;
  padding: 0;
  border: none;
}
#toggleEditMode i {
  font-size: 1.5em;
  color: white;
}
.dashboard {
  display: flex;
  top: 8%;
  position: relative;
  min-height: 100%;
  height: auto;
}
.dashboard__container {
  background: var(--dashboard-bg);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2em;
  padding-bottom: 5%;
  width: 100%;
}

.dashboard__sidebar {
  height: 100%;
  position: sticky;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
}
.sidebar__item {
  background: var(--dashboard-bg);
  box-shadow: var(--box-shadow);
  margin: 0 1rem 1rem 0.25rem;
  border-left: 4px solid var(--purple);
  border-right: 3px solid transparent;
  padding: 1em;
  display: flex;
  transition-duration: 0.3s;
  cursor: pointer;
  border-radius: 0 1rem 1rem 0;
}
.sidebar__item p {
  margin: 0;
  padding: 0;
}
.sidebar__item-edit {
  flex: 1 1 25%;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  transition-duration: 0.2s;
}
.sidebar__item-edit .confirm__container {
  justify-content: center;
  display: flex;
  width: 100%;
}
.sidebar__item-edit i {
  margin-left: 1em;
  transition-duration: 0.2s;
}
.sidebar__item-edit i:hover {
  opacity: 0.3;
}
.sidebar__item.editing {
  flex-direction: column;
}
.sidebar__item-info .sub {
  font-weight: bold;
}
.sidebar__item .css-2b097c-container {
  width: 100%;
}
.chartSelector__item {
  width: 33%;
  margin: 0.5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid transparent;
  padding: 1em 0;
  transition-duration: 0.2s;
}
.chartSelector__item:hover i,
.chartSelector__item:hover p {
  color: var(--purple);
}
.chartSelector__item p,
.chartSelector__item i {
  transition-duration: 0.2s;
}
.chartSelector__item i {
  font-size: 1.7em;
}
.chartSelector__item.active {
  /* border-color: var(--purple); */
  border-radius: 10px;
  color: var(--purple);
}
.chartSelector__item.active i,
.chartSelector__item.active p {
  color: var(--purple);
}

.addItem__container-action {
  display: flex;
  margin-top: 1em;
  justify-content: center;
}
#addItem span {
  align-items: center;
  display: flex;
}
#addItem i {
  margin: 0 0 0 0.2em;
  padding: 0;
  font-size: 2em;
  color: var(--purple);
  transition-duration: 0.3s;
}
#addItem:hover,
#addItem:hover i {
  color: var(--text-color);
}

.dashboard__toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.dashboard__toolbar #select {
  width: 50%;
  margin: 3em 2em 0;
}
#dashboard__container .css-yk16xz-control {
  background: var(--dashboard-secondary) !important;
}

.dashboard__container .info {
  width: 100%;
}
.chartSelection__container {
  display: flex;
}

.dashboard__sidebar-adding-toggle {
  display: flex;
  justify-content: center;
}
.chart-item-editing__container.adding {
  padding: 1em;
  display: flex;
  flex-direction: column;
  background: var(--dashboard-bg);
  padding-bottom: 1em;
  border-left: 5px solid var(--green);
  border-right: 5px solid var(--green);
  box-shadow: var(--box-shadow);
  margin-bottom: 1em;
}
.chart-item-editing__container.adding p {
  margin: 0;
  padding: 0;
}
.chart-item-editing__container.adding .btn {
  width: 50%;
  margin: 0 auto;
}

.chart-item-editing__container .confirm__container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

/*** chart styles ***/
.metrics__selector {
  display: inline-flex;
}

.metrics__selector span {
  margin: 0 1em 0.5em;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}
.metrics__selector span.active {
  font-weight: bold;
  border-color: var(--text-color);
}

.basic-multi-select.error {
  border: 2px solid var(--red);
  border-radius: 10px;
}

.DatePicker {
  width: 100%;
}
.DatePicker__input {
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 10px;
  padding: 1em !important;
  width: 20em;
}
.dateRange__container {
  margin-bottom: 1em;
}
.dateRange__container p {
  text-align: right;
}
.dateRange__container-flex {
  display: flex;
  align-items: center;
}
.custom-range-input {
  transition-duration: 0.2s;
}
.custom-range-input:hover {
  opacity: 0.5;
}
.reset {
  margin-left: 1em;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.2s;
}
.reset:hover {
  color: var(--purple);
}

.chart-info {
  padding-right: 0.5em;
}
.chart-info:not(:nth-of-type(1)) {
  border-left: 2px solid var(--text-color);
  padding-left: 0.5em;
}

.related-data__container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 2em;
}
.related-data__container .sources {
  display: flex;
}

.listing {
  box-shadow: var(--box-shadow);
  background: #fff;
  list-style-type: none;
  flex-basis: 24%;
  margin-right: 1em;
  text-align: center;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
  transition-duration: 0.3s;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.listing .title {
  font-weight: bold;
}
.listing.expanded {
  flex-basis: 50%;
  width: 100%;
  padding: 1.5em;
  justify-content: flex-start;
}

.listing.expanded .expanded {
  text-align: left;
}

.loading__container {
  position: relative;
  margin: auto;
}

/*** mobile ***/
@media only screen and (max-width: 775px) {
  .search__container {
    height: auto;
    padding-top: 2em;
    padding-bottom: 7em;
  }
  .search_screen {
    width: 95%;
  }
  nav {
    background: white;
    width: 100%;
    z-index: 2;
  }
  nav,
  .nav {
    position: fixed;
    bottom: 0;
    height: 8%;
    top: 92%;
  }
  .nav-logo {
    display: none;
  }
  .mobile-logo {
    display: flex;
    position: relative;
    top: 0;
    padding: 1em 0;
    z-index: 1;
    height: 10%;
    justify-content: center;
  }
  .nav i {
    display: block;
    font-size: 175%;
  }
  .hideOnMobile {
    display: none;
  }
  .mobile-logo img {
    width: 50%;
    height: 100%;
  }
  .nav .btn-group {
    justify-content: center;
  }

  .btn-group a {
    margin: 0;
    width: 50%;
    padding: 0;
  }
  .home {
    margin-top: 0;
  }
  #nav-dropdown {
    display: none;
  }
  #menu-popout {
    display: block;
  }
  .searchToggle__controller {
    width: 100%;
  }
  .dashboard__toolbar {
    flex-direction: column;
  }
  .dashboard__container {
    top: 0;
    padding: 0;
    padding-bottom: 7em;
    position: static;
  }
  .dashboard__toolbar #select,
  .dashboard__container .info {
    margin-left: 0;
    width: 100%;
  }
  .dashboard__toolbar #select {
    margin-top: 1em;
  }
  .dashboard {
    top: 0;
    flex-direction: column;
  }
}
